RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^about about.php
RewriteRule ^services services.php
RewriteRule ^contact contact.php
RewriteRule ^index index.php
RewriteRule ^home index.php
RewriteRule ^what-we-do what-we-do.php
RewriteRule ^privacy-policy privacy-policy.php
RewriteRule ^terms-conditions terms-conditions.php
RewriteRule ^terms-user terms-user.php
RewriteRule ^login login.php
RewriteRule ^signup register.php
RewriteRule ^return-policy return-policy.php
RewriteRule ^logout logout.php
RewriteRule ^dbh lib/dbh.php
RewriteRule ^web-development store.php
RewriteRule ^digital-marketing store.php
RewriteRule ^automation store.php
RewriteRule ^item/([0-9]+) items.php
RewriteRule ^item items.php