<!DOCTYPE html>
<html lang="en">
<head>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<style type="text/css">
	.agree-danger::before{
		border: 1px solid red;
	}
</style>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('img/bg-01.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" action="lib/signup.php" method="get">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>
					
					<div class="form-group">
						<span class="err-mssg text-danger"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Username...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<a href="#" class="ml-2 show-pass" data-toggle="0"><i class="fa fa-eye"></i></a>
						<input class="input100" type="password" name="pass" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<a href="#" class="ml-2 show-repeat-pass" data-toggle="0"><i class="fa fa-eye"></i></a>
						<input class="input100" type="password" name="repeat-pass" placeholder="*************">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100 agree" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100 agree-label" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="terms-user" class="txt2 hov1">
										Terms of User
									</a>
								</span>
							</label>
						</div>						
					</div>

					<div class="form-group">
						<span class="err-mssg text-danger"></span>
					</div>
					<div class="form-group">
						<span class="loading text-warning"></span>
					</div>
					<div class="form-group">
						<span class="success text-primary"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn signup">
								Sign Up
							</button>
						</div>

						<a href="login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script type="text/javascript">
		$('.classynav').hide();
		
		$(window).bind('mousewheel', function(event) {
		    if (event.originalEvent.wheelDelta >= 0) {
		        console.log('Scroll up');
		    }
		    else {
		        console.log('Scroll down');
		    }
		});

		function isEmail(email) {
		  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		  return regex.test(email);
		}

		$(document).on('click', '.signup', function(event) {
			event.preventDefault();
			var fullname = $("input[name='name']").val();
			var username = $("input[name='username']").val();
			var email = $("input[name='email']").val();
			var password = $("input[name='pass']").val();

			if (fullname == '' || username == '' || email == '' || password == '') {
				$('.err-mssg').text('Please fill all the filed');				
			}else{
				if ($('.agree').is(":checked") == true) {
					$('.agree-label').removeClass('agree-danger');
					if ($("input[name='pass']").val() == $("input[name='repeat-pass']").val()) {
						if (isEmail(email) == true) {
							$('.err-mssg').text('');
							$.ajax({
								url: 'lib/signup.php',
								method: 'POST',
								data: {fullname:fullname, username:username, email:email, password:password},
								beforeSend: function(){
									$('.loading').text('Loading. . . . .');
								},
								success: function(data){
									$('.loading').text('');
									$('.success').text(data);
								}
							});
							
						}else{
							$('.err-mssg').text('E-mail is not valid');
						}
					}else{
						$('.err-mssg').text("Password didn't matched");
					}
				}else{
					$('.agree-label').addClass('agree-danger');
					$('.err-mssg').text('You have to agree with our user terms');
				}
			}
		});

		$('.show-repeat-pass').click(function() {
			if ($(this).attr('data-toggle') == '0') {
				$("input[name='repeat-pass']").attr('type', 'text');
				$(this).attr('data-toggle', '1');
			}else{
				$("input[name='repeat-pass']").attr('type', 'password');
				$(this).attr('data-toggle', '0');
			}
		});

		$('.show-pass').click(function() {
			if ($(this).attr('data-toggle') == '0') {
				$("input[name='pass']").attr('type', 'text');
				$(this).attr('data-toggle', '1');
			}else{
				$("input[name='pass']").attr('type', 'password');
				$(this).attr('data-toggle', '0');
			}
		});
	</script>
</body>
</html>