    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/8.jpg);">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Catagory Area Start ##### -->
    <div class="services-catagory-area d-flex flex-wrap">
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/30.jpg);">
            <a href="#">Digital <br> Marketing</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/29.jpg);">
            <a href="#">Automation &<br> Data Mining</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/31.jpg);">
            <a href="#">Web <br> Development</a>
        </div>
    </div>
    <!-- ##### Services Catagory Area End ##### -->

    <!-- ##### Services Block Area Start ##### -->
    <section class="services-block-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <h4>Marketing</h4>
                        <p>Digital marketing is the component of marketing that utilizes internet and online based digital technologies such as desktop computers, mobile phones and other digital media and platforms to promote products and services.</p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h4>Intelligence</h4>
                        <p>Web Automation and data mining, doing boring works automatically. It makes life easier and saves lots of time.It's a great solution to make any tasks painless</p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <h4>Development</h4>
                        <p>Designing and develop a full-featured website, to promote business or sells product. Nowadays websites are essentials for any kind of business and we have all in one solution for your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Services Block Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="pixel-service-area">
        <div class="container">
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="img/core-img/cursor.png" alt="">
                        <h5>Light Weight &amp; Fast</h5>
                        <p>we built from scratch and our codes are very simple and clean</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/monitor.png" alt="">
                        <h5>Responsive &amp; Retina Ready</h5>
                        <p>All of our apps and websites are built for every kind of devices</p>
                        
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="img/core-img/presentation.png" alt="">
                        <h5>Documentation</h5>
                        <p>Our every service is well documented and we are committed to helping you any time</p>
                        
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <img src="img/core-img/settings.png" alt="">
                        <h5>Customizable</h5>
                        <p>We provide custom services that focus to help your business to grow</p>
                        
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="img/core-img/automation.png" alt="">
                        <h5>Automation</h5>
                        <p>We will make your task automate so that you can save your time</p>
                        
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/server.png" alt="">
                        <h5>Data, Data &amp; Data</h5>
                        <p>We can collect data from a wide range of source to help your business</p>
                        
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="img/core-img/target.png" alt="">
                        <h5>Achive Goals</h5>
                        <p>Our only motive to help you to achieve your goal</p>
                        
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-service-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <img src="img/core-img/support.png" alt="">
                        <h5>Support</h5>
                        <p>We are here to support you any time you want</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->